body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
  margin-bottom: 10px !important;
}
li {
  float: left;
}
.col-sm {
  margin: 0.7vw;
}
.select-players {
  width:70px !important;
}
.player {
  margin-top: 10px;
}
.hit-and-stand {
  margin-top: 10px;
}
.console {
  height: 82vh !important;
}
.player-id {
  padding: 10px !important;
  margin-bottom: 10px !important;
}
.lead {
  color: rgb(49, 49, 49) !important;
}
.row {
  width: 100vw;
  margin: 0 !important;
  height: 100vh;
}
