body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
  margin-bottom: 10px !important;
}
li {
  float: left;
}
.col-sm {
  margin: 0.7vw;
}
.select-players {
  width: 70px !important;
}
.player {
  margin-top: 10px;
  min-width: 100px;
}
.hit-and-stand {
  margin-top: 10px;
}
.console {
  min-height: 82vh !important;
  padding-left: 0;
}
.console li {
  padding-left: 10px;
}
.console li:nth-child(even) {
  background-color: rgb(240, 240, 240);
}
.player-id {
  padding: 10px !important;
  margin-bottom: 10px !important;
}
.lead {
  color: rgb(49, 49, 49) !important;
}
.row {
  width: 100vw;
  margin: 0 !important;
  height: 100vh;
}
p {
  margin-top: 25px;
  font-size:1.2rem;
}
.rules {
  list-style-type: circle;
}
.rules li {
  font-size: 0.9rem;
}
